@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat&family=Roboto:ital,wght@0,300;1,100&display=swap');

body{
    /* background-image: url('../Images/Gray-color-background.jpg'); */
    background-color: #FFD8BE;
    color: #000305;
    font-size: 90%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
h1{
    color: #FF968A;
}

hr.lign {
    border: 2px solid #FF968A;
    margin-left: 0;
    width: 15%;
}

a{
    text-decoration: none;
}
a:link, a:visited{
    color: #FFAEA5;
}
a:hover, a:active{
    color: #FFC5BF;
}
.body{
    margin: 10px auto;
    width: 80%;
    clear: both;
}
/*-------------------------------------------------MAIN HEADER----------------------------------------------------------*/
.mainHeader nav{
    background-color: #FF968A;
    height: 40px;
    border-radius: 5px;
}
.mainHeader nav ul {
    text-align: center;
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li {
    display: inline;
}
.mainHeader a:link, .mainHeader a:visited{
    color: white;
    padding: 10px 40px;
    display: inline-block;
    height: 20px;
}

.mainHeader a:hover, .mainHeader a:active{
    color: white;
    background-color: #FFC5BF;
    text-shadow: none;
}
/*----------------------------------------------------------MAIN---------------------------------------------------------*/
.mainContent {
    width: 70%;
    float: left;
}
.Section {
    background-color: #fff;
    padding: 3%;
    margin-top: 3%;
    border-radius: 5px;
}
.Section:hover, .aside:hover {
    cursor: pointer;
    transform: translateX(-5px);
}
iframe {
    width: 100%;
}
#tab1 {
    display: inline-block;
    margin-left: 160px;
}
#tab2 {
    display: inline-block;
    margin-left: 40px;
}
#tab3 {
    display: inline-block;
    margin-left: 110px;
}
#tab4 {
    display: inline-block;
    margin-left: 200px;
}
meter {
    width: 500px;
    height: 25px;
}
/*---------------------------------------------------------ASIDE--------------------------------------------------------*/
.aside img {
    width: 100%;
}
.aside{
    width: 24%;
    margin: 2% 0 0 2%;
    float: left;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
}
/*---------------------------------------------------------FOOTER--------------------------------------------------------*/
.Footer {
    margin-top: 20px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    background-color: #FF968A;
    height: 40px;
    border-radius: 5px;
}
.Footer:hover {
    cursor: pointer;
    background-color: #FFAEA5;
}
.Footer p {
    text-align: center;
    color: white;
    width: 90%;
}
